body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0BA149;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;

        .left-header {
            a {
                font-size: 20px;
                color: white;
                text-decoration: none;                
            }
        }

        .right-header2 {
            .log-out {
                background-color: rgb(246, 246, 246);
                padding: 15px 30px;
                border: none;
                border-radius: 10px;
                font-size: 14px;
                font-weight: 500;
                cursor: pointer;
                transition: ease-in-out 0.7s;

                &:hover {
                    background-color:rgb(196, 40, 40);
                    color: white;
                }
            }
        }
    }
    
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

.container {
    button {
        color: white;
        background-color:#0BA149;
        border: none;
        border-radius: 10px;
        padding: 12px 20px;
        margin-right: 20px;
        margin-top: 20px;
        cursor: pointer;
        
        &:hover {
            background-color:#0b5f20;
        }
    }
}